.container-roadmap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background-color: var(--second);
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  border-radius: 25px;
  box-shadow: var(--second06) 0px 2px 5px;
  transition: 0.3s;
  cursor: pointer;
  color: var(--blackblue);
  z-index: 10;
}
.container-roadmap:hover {
  box-shadow: #c7a65460 0px 5px 15px;
  transform: translateY(-2px);
}
.maps {
  display: flex;
  width: 50px;
  height: 50px;
}
/* roadmap menu */
.container-rmm {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(27, 23, 49, 0.89);
}
.rmm-box {
  max-width: 100px;
  display: flex;
  width: 100%;
  height: 300px;
  min-height: 150px;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--main);
  background-size: cover;
  background-position: center;
  color: var(--white);
  font-weight: 800;
  font-size: 1.2rem;
  background-repeat: no-repeat;
  padding: 0;
  transition: 0.6s;
}
.rmm-button-name {
  font-size: 1rem;
  padding: 4px;
  background-color: rgba(27, 23, 49, 0.8);
  width: 100%;
}
.rmm-box:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .main-roadmap {
    flex-direction: column-reverse;
    gap: 0.2rem;
  }
  .container-popup {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  /* roadmap menu */
  .container-rmm {
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }
  .rmm-box {
    min-height: 50px;
    width: 100%;
    font-size: 0.9rem;
  }
  .rmm-button-name {
    background-color: rgba(27, 23, 49, 0.8);
    border-radius: 4px;
    padding: 4px;
    font-size: 0.8rem;
  }
}
